body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.box {
    background-color: rgba(0, 0, 0, .5);
    padding: 50px;
    color: white;
}